@model sPlannedIt.Viewmodels.Shift_Viewmodels.EditShiftViewModel;

@{
    ViewData["Title"] = "CreateShift";
}

<h1>CreateShift</h1>

<h4>CreateShiftViewmodel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditShift">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShiftId" class="control-label"></label>
                <input asp-for="ShiftId" readonly class="form-control" />
                <span asp-validation-for="ShiftId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleId" class="control-label"></label>
                <input asp-for="ScheduleId" readonly class="form-control" />
                <span asp-validation-for="ScheduleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label">User Email</label>
                <select asp-for="UserEmail">
                    @foreach (string email in Model.EmployeeEmails)
                    {
                        <option value="@email">@email</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" type="date" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="EditSchedule">Cancel</a>
</div>

