@using sPlannedIt.Interface
@using sPlannedIt.Logic.Models
@model sPlannedIt.Viewmodels.Schedule_Viewmodels.EditScheduleViewmodel

@{
    ViewData["Title"] = "EditSchedule";
}

<h1>EditSchedule</h1>

<h4>EditScheduleViewmodel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSchedule">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ScheduleId" class="control-label"></label>
                <input asp-for="ScheduleId"  readonly class="form-control" />
                <span asp-validation-for="ScheduleId" readonly class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <input asp-for="CompanyId" readonly class="form-control" />
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @if (Model.Shifts.Any())
            {
                @foreach (Shift shift in Model.Shifts)
                {
                    <tr valign="top">
                        <td width="100">@String.Concat(shift.ShiftDate.Day + "-" + shift.ShiftDate.Month + "-" + shift.ShiftDate.Year)</td>
                        <td>@String.Concat(shift.StartTime + ":00") - @String.Concat(shift.EndTime + ":00")</td>
                        <td><br></td>
                    </tr>
                }
            }
            else
            {
                <p>No shifts added</p>
            }
            <p>Add a shift using the button below:</p>
            <a asp-action="CreateShift" asp-route-id="@Model.ScheduleId" class="btn btn-primary">Add Shift</a>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexEmployer">Back to List</a>
</div>

